{% extends 'base.html' %}

{% block title %}
    Email Sent | ConnectHub
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>Check your email</h1>

        <p class="auth-description">
            If an account exists with this email address,
            we have sent password reset instructions.
        </p>

        <a
            href="{% url 'users:login' %}"
            class="primary-link-button"
        >
            Back to login
        </a>

    </div>

</div>

{% endblock %}