{% extends 'base.html' %}

{% block title %}
    Password Updated | ConnectHub
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>Password updated</h1>

        <p class="auth-description">
            Your password was reset successfully.
            You can now log in with your new password.
        </p>

        <a
            href="{% url 'users:login' %}"
            class="primary-link-button"
        >
            Login
        </a>

    </div>

</div>

{% endblock %}